@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Funnel+Display:wght@300..800&family=Great+Vibes&family=Rowdies:wght@300;400;700&display=swap');
*{
    padding: 0;
    margin: 0;
}
:root{
    --color1:#10002B;
    --color2:#3C096C;
    --color3:#5A189A;
    --color4:#9D4EDD;
    --color5:#E0AAFF;
    --color6:#ee964b;
    --color7:#faf0ca;
    --color8:#fcd5ce;
    --font1: "Rowdies", sans-serif;
    --font2: "Cal Sans", sans-serif;
    --font3: "Funnel Display", sans-serif;
    --font4: "Great Vibes", cursive;
}
body{
    background-color: var(--color2);
}
a {
    color: var(--color2);
    text-decoration: none;
}
.nav ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}
.nav li{
    
    font-family: var(--font2);
    display: flex;
    width: auto;
    margin-right: 10px;
}
.header{
    margin-top: 3%;
    display: flex;
    justify-content: center;
    height: 70px;
    margin-bottom: 3%;
}
.nav{
    background-color: var(--color5);
    width: 90%;
    display: flex;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}
.nav img{
    display: flex;
    width: 50px;
    margin: 10px;
}
.main{
    display: flex;
    justify-content: center;
    height:auto;
}
.section1{
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 93%;
    background-color: var(--color5);
}
.section1 h2{
    color: var(--color1);
    margin-bottom: 15px;
    font-family: var(--font1);
}
.section1 h3{
    font-family: var(--font3);
}
.img1 img{
    margin-top: 15px;
    height: auto;
    margin-bottom: 10px;
    width: 100%;
    object-fit: contain;
    object-position: center;
}
.img2 img{
    margin-top: 15px;
    height: auto;
    margin-bottom: 10px;
    width: 100%;
    object-fit: contain;
    object-position: center;
} 
.img3 img{
    margin-top: 15px;
    height: auto;
    margin-bottom: 10px;
    width: 100%;
    object-fit: contain;
    object-position: center;
} 